@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");

body {
	background-color: white;
	margin: 0;
	width: 375px;
	min-height: 789px;
	display: flex;
	flex-direction: column;
	font-family: "Pretendard";
}

html {
	background-color: #ffffff;
	display: flex;
	justify-content: center;
}

/*  기본 배경 세팉 끝 , header 시작 */

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin-top: 15px;
}

.back img {
	width: 20px;
}

.back {
	margin-right: 340px;
}

.headerline {
	width: 360px;
	border: 0;
	height: 1.5px;
	background-color: rgba(84, 84, 84, 0.22);
}

.headertitle {
	margin-top: 15px;
	font-size: 16px;
	font-weight: 600;
}

/* header 끝 */

/* title 시작 */

.titlecon {
	margin-left: 20px;
	margin-top: 50px;
}

.title {
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 10px;
}

.subtitle {
	color: rgba(145, 146, 155, 1);
	font-size: 17px;
    margin-bottom: 2px;
    margin-top: 0;
}
/* title,subtitle 끝 */

.bid-submit-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-right: 10px;
}