<!DOCTYPE html>
<html lang="en">
	{% load static %}
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="{% static 'css/confirm_purchase.css' %}?after" />
	</head>
	<body>
		<!-- header -->
		<div class="header">
			<div class="header back"><a href="{% url 'detail' product_info.id %}"><img src="/static/img/header-back.png" /></a></div>
		</div>
		<hr class="headerline" />

		<div class="titlecon">
			<div class="title">바로구매로 진행하시겠어요?</div>
			<div class="subtitle">
				판매자가 설정한 바로구매가로 경매 없이 <br />
				바로 구매할 수 있어요
			</div>
		</div>

		<div class="container">
			<div class="icon"><img src="/static/img/confirm_bid_icon1.png" /></div>
			<!-- 상품정보 -->
			<!-- <p>상품명 : {{ product_info.title }}</p> -->
			<div class="price">바로구매가: {{ product_info.buyout_price }} 원</div>
		</div>

		<!-- 구매확정 버튼 -->

		<div class="button-contianer">
			<form method="post" action="{% url 'create_purchase' product_info.id %}">
				<!-- post요청을 보낼 때 보안상 작성해주기 -->
				{% csrf_token%}

				<input type="submit" value="바로구매" class="bt" />
			</form>
		</div>
	</body>
</html>
