<!DOCTYPE html>
<html lang="en">
	{% load static %}
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="{% static 'css/detail.css' %}?after" />
	</head>
	<body>
		<!-- header -->
		<div class="header">
			<div class="header search"><img src="/static/img/header-back.png" /></div>
			<div class="headertitle">상품 상세</div>
			<div class="header menu"><img src="/static/img/header-menu.png" /></div>
		</div>
		<hr class="headerline" />

		<!-- {{ product_detail.id }} 번째, {{ product_detail.title}} 상품 상세페이지임.
            여기에 이미지 들어가야함. -->

		<div class="product-img-container">
			{% if product_detail.image %}
			<img src="{{ product_detail.image.url }}" alt="" />
			{% endif%}
		</div>

		<div class="product-maintext-container">
			<div class="product-title text">{{ product_detail.title}}</div>
			<div class="product-category text">{{ product_detail.category }}</div>
		</div>
		<hr class="img-line" />

		<!-- <div>시작가</div>
		{{ product_detail.start_price}}


		<div>즉시구매가</div>
		{{ product_detail.buyout_price}}

		<div>등록 날짜</div>
		{{ product_detail.register_time | date:'Y-m-d H:i' }} -->

		<div class="product-subtext-container">
			<div class="bid title">입찰 목록</div>

			{% for bid in product_detail.bid_set.all %}
			<div class="comment-text-container">
				<p class="bid-price">{{ bid.bid_price }}원</p>
				<p class="bid-puptime">{{ bid.bid_time }}</p>
			</div>
			<hr class="comment-line" />

			{% endfor %}

			<div class="comment title">댓글 작성하기</div>
			<!-- action ; submit 버튼을 눌렀을 때 어떤 url로 이동시켜줘+어떤 정보와 함께 -->
			<form
				class="comment-container"
				method="post"
				action="{% url 'create_comment' product_detail.id %}"
			>
				<!-- post요청을 보낼 때 보안상 작성해주기 -->
				{% csrf_token%} {{ comment_form }}
				<input type="submit" />
			</form>

			<!-- 작성한 댓글들 보여질 부분 -->
			<!-- blog_detail.comment_set.all ; 특정 객체(특정 블로그글)를 참고하고 있는 모델의 집합(그 글의 댓글들 집합)을 모두 가져오고 싶을 때 -->

			<div class="comment title">댓글 목록</div>
			{% for comment in product_detail.comment_set.all %}
			<div class="comment-text-container">
				<p class="comment-text">{{ comment.content }}</p>
				<p class="create-time">{{ comment.created_at }}</p>
			</div>

			<hr class="comment-line" />
			{% endfor %}
		</div>

		<div class="button-container">
			<!-- 입찰하기 버튼 -->
			<a href="{% url 'bidformcreate' product_detail.id %}"
				><button class="bid bt">입찰하기</button></a
			>

			<!-- 바로구매하기 버튼 -->
			<a href="{% url 'purchase' product_detail.id %}"
				><button class="purchase bt">바로구매하기</button></a
			>
		</div>
	</body>
</html>
