<!DOCTYPE html>
<html lang="en">
	{% load static %}
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="{% static 'css/index.css' %}?after" />
	</head>
	<body>
		<div class="header">
			<div class="header search"><img src="/static/img/header-search.png" /></div>
			<div class="headertitle">상품 목록</div>
			<div class="header menu"><img src="/static/img/header-menu.png" /></div>
		</div>
		<hr class="headerline" />

		{% for product in products %}
		<!-- a태그 클릭하면 detail url로 이동하고 기본키인 post.id 값을 함께 넘겨준다. -->
		<a href="{% url 'detail' product.id %}">
			<div class="product-container">
				<div class="product-img-container">
					<!-- 상품이미지 -->
					{% if product.image %}
					<img src="{{ product.image.url }}" alt="이미지를 넣어주세요!" />
					{% endif %}
				</div>
				<div class="text-container">
					<!-- 상품명 -->
					<a class="product-title text" href="{% url 'detail' product.id %}"
						>상품명 : {{ product.title }}</a
					>
					<!-- 현재가 -->
					{% if product.bid.first %}
					<a class="product-title text" href="{% url 'detail' product.id %}"
						>현재 입찰가 : {{ product.bid.first.bid_price }}</a
					>
					{% endif %}

					<!-- 즉시구매가 -->
					{% if product.buyout_price %}
					<a class="product-title text" href="{% url 'detail' product.id %}"
						>즉시 구매가 : {{ product.buyout_price }}</a
					>
					{% endif %}
					
					<!-- <div>등록 시간 : {{ product.register_time | date:'m-d H:i' }}</div> -->
				</div>
			</div>
		</a>

		<br />

		{% endfor %}

		<!-- 상품등록 버튼 -->
		<span class="register-contianer">
			<a href="{% url 'productformcreate' %}"
				><button class="register bt">상품 등록</button></a
			>
        </span>
	</body>
</html>
