<!DOCTYPE html>
<html lang="en">
	{% load static %}
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="{% static 'css/index.css' %}" />
	</head>
	<body>
		<div class="header">
			<div class="header search"><img src="/static/img/header-search.png" /></div>
			<div class="headertitle">상품 목록</div>
			<div class="header menu"><img src="/static/img/header-menu.png" /></div>
		</div>
		<hr class="headerline" />

		{% for product in products %}
		<!-- a태그 클릭하면 detail url로 이동하고 기본키인 post.id 값을 함께 넘겨준다. -->

		<div class="product-container">
			<a href="{% url 'detail' product.id %}"
				><div class="product-title">상품명 : {{ product.title }}</div></a
			>
			{% if product.image %}
			<img src="{{ product.image.url }}" alt="">
			{% endif%}
			<div>상품 가격 : {{ product.buyout_price }}</div>
			<div>등록 시간 : {{ product.register_time | date:'m-d H:i' }}</div>

		</div>

		<!-- 현재가 추가필요 ; product 에서 타고 bid에서 가져오기 -->

		<br />

		{% endfor %}

		<a href="{% url 'productformcreate' %}"
			><button class="register bt">상품 등록</button></a
		>
	</body>
</html>
